@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.btn {
	background-color: $color-accent;
	padding: 18px 25px;
	color: $color-white;
	font-size: $font-size-large;
	font-weight: $font-weight-bold;

	&--small {
		padding: 7px 10px;
		font-size: 12px;
	}

	&--medium {
		padding: 12px 28px;
	}
}

@include mobile {
	.btn--medium {
		padding: 10px;
	}
}
