@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.form-group:not(:last-of-type) {
	margin-bottom: $spacing-xlarge;
}

.form-label {
	display: block;
	font-size: $font-size-large;
	font-weight: $font-weight-bold;
	margin-bottom: 5px;
}

.form-label .required {
	color: $color-accent;
}

.form-input,
.form-textarea {
	width: 100%;
	padding: 12px 16px;
	font-size: $font-size-small;
	border: 2px solid $color-accent;
	outline: none;
	transition: border-color 0.3s ease;
	opacity: 0.7;
	height: 44px;
	color: $color-primary;
}

.form-textarea {
	min-height: 120px;
	resize: vertical;
}

.form-button {
	text-transform: uppercase;
	font-size: 12px;
}
