@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.product-card {
	position: relative;
	filter: drop-shadow(0px 20px 80px rgba(193, 199, 212, 0.702));

	&__image {
		position: relative;
		margin-bottom: 24px;
	}

	&__status {
		position: absolute;
		top: 15px;
		left: 15px;
	}

	&__details {
		text-align: center;
		font-weight: 700;
	}

	&__title {
		font-size: 19px;
		margin-bottom: 15px;
	}

	&__price {
		color: $color-secondary;
		font-size: 19px;
		margin-bottom: 15px;
	}
}
