@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.product-card {
	position: relative;
	padding: 20px 10px;

	&__image {
		position: relative;
		margin-bottom: 24px;
		max-width: 280px;
		width: 100%;
	}

	&__status {
		position: absolute;
		top: 15px;
		left: 15px;
	}

	&__details {
		text-align: center;
		font-weight: $font-weight-bold;
	}

	&__title {
		font-size: 19px;
		margin-bottom: 15px;
		text-align: center;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__price {
		color: $color-primary;
		font-size: 19px;
		margin-bottom: 15px;
	}

	&__link {
		@include flex-center;

		flex-direction: column;
	}

	&:hover {
		box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
	}
}

@include mobile {
	.product-card__title {
		font-size: $font-size-base;
	}

	.product-card__details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
