@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer {
	font-size: 15px;
	line-height: 1.7;
}

.footer__benefits {
	position: relative;
	overflow: hidden;
	background: $color-primary;
	color: $color-white;
	margin-bottom: 120px;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		opacity: 0.22;
		background-image: url("data:image/svg+xml;utf8,\
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1700 53' preserveAspectRatio='none'>\
			  <path d='M1699.5 52.8099C1699.46 52.81 1699.42 52.8053 1699.38 52.7959L1557.8 18.0879C1464.86 -4.69571 1367.8 -4.69571 1274.87 18.0879C1228.49 29.451 1180.91 35.1975 1133.17 35.2039C1085.42 35.1975 1037.84 29.451 991.465 18.0879C898.531 -4.69567 801.469 -4.69567 708.535 18.0879C662.159 29.451 614.584 35.1975 566.835 35.2039C519.087 35.1975 471.512 29.451 425.135 18.0879C332.201 -4.69571 235.139 -4.69571 142.205 18.0879L0.613353 52.7979C0.485167 52.8281 0.350255 52.8065 0.237915 52.7377C0.125576 52.669 0.0448801 52.5587 0.013353 52.4309C-0.0168467 52.3028 0.004638 52.1681 0.0731498 52.0557C0.141662 51.9434 0.251679 51.8627 0.379353 51.8309L141.962 17.1229C235.051 -5.69824 332.274 -5.69824 425.362 17.1229C471.662 28.467 519.158 34.2038 566.827 34.2099C614.498 34.2017 661.995 28.4625 708.295 17.1159C801.384 -5.7053 898.607 -5.7053 991.695 17.1159C1038 28.4599 1085.49 34.1967 1133.16 34.2029C1180.83 34.1967 1228.32 28.4599 1274.62 17.1159C1367.71 -5.70526 1464.94 -5.70526 1558.02 17.1159L1699.61 51.8239C1699.73 51.8527 1699.83 51.9241 1699.9 52.0246C1699.97 52.1251 1700 52.2478 1699.99 52.3693C1699.97 52.4908 1699.91 52.6028 1699.82 52.684C1699.73 52.7652 1699.61 52.81 1699.49 52.8099H1699.5Z' fill='%23ffffff'/>\
			</svg>");
		background-size: 100% 53px;
		background-repeat: repeat-y;
	}
}

.footer__benefits-inner {
	padding: 40px 0;
}

.footer__benefits-title {
	font-size: 19px;
	font-weight: $font-weight-bold;
	margin-bottom: 30px;
}

.footer__benefits-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.footer__benefits-item {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer__benefits-icon {
	max-width: none;
	width: 60px;
	height: 60px;
}

.footer__benefits-text {
	line-height: 1.7;
}

.footer__contacts-inner {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-areas:
		'menu     contact'
		'shipping contact';
	gap: 50px 170px;
	align-items: start;
}

.footer__menu {
	grid-area: menu;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px 56px;
}

.footer__contact {
	grid-area: contact;
}

.footer__shipping {
	grid-area: shipping;
}

.footer__menu-title,
.footer__contact-title,
.footer__shipping-title {
	margin-bottom: 24px;
}

.footer__menu-link:not(:last-child) {
	margin-bottom: 12px;
}

.footer__contact-intro {
	margin-bottom: 70px;
	line-height: 1.7;
}

.footer__contact-rows {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px 20px;
	align-items: start;
}

.footer__contact-row {
	display: grid;
	grid-template-columns: 28px minmax(0, 1fr);
	align-items: start;
	column-gap: 14px;
}

.footer__shipping-text {
	line-height: 1.7;
}

.footer__copy {
	text-align: center;
	opacity: 0.35;
	padding-bottom: 45px;
}

.footer-link:hover {
	color: $color-accent;
}

@include large {
	.footer__contacts-inner {
		gap: 50px;
	}

	.footer__contact-rows {
		row-gap: 20px;
	}

	.footer__contact-row:first-child {
		grid-template-columns: 28px auto;
		row-gap: 20px;
	}
}

@include desktop {
	.footer__benefits-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer__contact-rows {
		grid-template-columns: 1fr;
	}
}

@include tablet {
	.footer__benefits {
		margin-bottom: $spacing-xlarge;
	}

	.footer__contacts-inner {
		grid-template-columns: 1fr;
		grid-template-areas:
			'menu'
			'contact'
			'shipping';
		gap: 30px;
	}

	.footer__contact-rows {
		grid-template-columns: 1fr 1fr;
	}
}

@include mobile {
	.footer__benefits-title {
		text-align: center;
	}

	.footer__benefits-list {
		grid-template-columns: 1fr;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer__contact-rows {
		grid-template-columns: 1fr;
	}

	.footer__menu {
		display: none;
	}

	.footer__contact-intro {
		margin-bottom: $spacing-xlarge;
	}
}
