@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: $color-white;
	visibility: hidden;
	opacity: 0;
}

#header.visible {
	visibility: visible;
	opacity: 1;
}

.header__wrapper {
	padding: 48px 16px 0;
}
.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1313px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #d9d9d9;
}

.header__socials {
	@include flex-center;
	gap: 25px;
}

.header__logo {
	display: flex;
	gap: 12px;
}

.header__logo-title {
	color: $color-accent;
	font-weight: 700;
	font-size: 30px;
}

.header__logo-image {
	background-color: $color-accent;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.header__logo-icon {
	display: block;
	margin: 0 auto;
}

.header__actions {
	@include flex-center;
	gap: 16px;
}

.header__action {
	position: relative;
}

.cart-count {
	position: absolute;
	top: -11px;
	right: -16px;
	min-width: 22px;
	height: 22px;
	padding: 2px 4px;
	border-radius: 999px;
	background: $color-white;
	color: $color-accent;
	border: 3px solid $color-accent;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cart-count[hidden] {
	display: none;
}

.cart__empty {
	text-align: center;
	padding: 40px 0;
	font-size: 20px;
	font-weight: 700;
}

.nav__list {
	@include flex-center;
	gap: 29px;
	padding: 25px 0;
}

.nav__item {
	font-size: 18px;
	font-weight: 700;

	&:hover {
		color: $color-accent;
	}
}

.nav__item--dropdown .nav__link {
	display: flex;
	justify-content: center;
	gap: 6px;
}

.nav__item--dropdown .nav__arrow {
	display: inline-flex;
	align-items: center;
}

.nav__link--active {
	color: $color-accent;
}
