@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Hero */

.hero-page {
	height: 554px;
	margin-bottom: 130px;
}

.hero-about {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../assets/images/banner-about.jpg) no-repeat center / cover;
	padding-bottom: 0;
}

.hero-page__container {
	@include flex-center;
	flex-direction: column;
	text-align: center;
	color: $color-white;
	height: 100%;
}

.hero-page__title {
	font-size: 50px;
	font-weight: 700;
	// margin-bottom: 20px;
}

.hero-page__subtitle {
	color: $color-secondary;
	line-height: 1.7;
	margin-top: 20px;
}

/* Features */

.features__list {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 100px;
}

.features__item {
	text-align: center;
}

.features__icon {
	margin: 0 auto 22px;
}

.features__title {
	font-size: 20px;
	margin-bottom: 23px;
}

.features__text {
	line-height: 1.7;
}

/* Arrivals */

.arrivals__container {
	@include flex-center;
	gap: 40px;
}

.arrivals__title {
	font-size: 40px;
	font-weight: 900;
	text-align: left;
	margin-bottom: 30px;
}

.arrivals__text {
	color: $color-primary;
	line-height: 1.7;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.arrivals__right {
	background: url(../../assets/images/new-arrivals.jpg) no-repeat center / cover;
	width: 100%;
	height: 352px;
}

/* Team */

.team__container {
	text-align: center;
}

.team__title {
	position: relative;

	&::after {
		content: '';
		display: block;
		width: 440px;
		height: 2px;
		background-color: $color-accent;
		margin: 10px auto 50px;
	}
}

.team__list {
	@include flex-center;
	gap: 35px;
}

.team__photo {
	margin-bottom: 27px;
}

.team__name {
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 27px;
}
