@use './base/reset' as *;
@use './base/fonts' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;
@use './components/buttons' as *;
@use './components/forms' as *;
@use './components/product-card' as *;
@use './layouts/header' as *;
@use './layouts/footer' as *;
@use './pages/about' as *;
@use './pages/contact' as *;
@use './pages/cart' as *;
@use './pages/catalog' as *;
@use './pages/product-details';

body {
	font-family: $font-family-base;
	font-weight: 400;
	font-size: 17px;
}

section {
	padding-bottom: 120px;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 16px;
}

.title {
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 10px;
}

.subtitle {
	text-align: center;
	color: $color-primary;
	margin-bottom: 60px;
}

.hidden {
	display: none;
}
/* Hero */

.hero {
	padding-bottom: 20px;
}

.hero__top {
	position: relative;
	background-color: $color-bg;
	min-height: 861px;
	z-index: 1;
	padding: 0 16px;
}
.hero__top-content {
	@include flex-center;
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 116px;
}

.hero__title-main {
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 30px;
}

.hero__text {
	color: $color-primary;
	margin-bottom: 30px;
}

.hero__bottom-content {
	position: relative;
	top: -100px;
	height: 566px;
	@include flex-center;
	max-width: 1300px;
	margin: 0 auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 9;
}

.hero__bottom-title {
	font-size: 40px;
}

.hero__bottom-text {
	color: $color-primary;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.hero__bottom-left {
	flex: 1;
	background-color: $color-white;
	height: 100%;
}

.hero__bottom-left-inner {
	padding: 70px;
}

.hero__bottom-right {
	flex: 1;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../assets/images/suitcases-main-banner.png) no-repeat center / cover;
	height: 100%;
}

.hero__author {
	display: flex;
	align-items: center;
	gap: 22px;
	margin-bottom: 28px;

	.hero__author-name {
		font-size: 20px;
	}
}

.hero__discount-box {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding-left: 73px;
	color: $color-white;

	.hero__discount-title {
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 30px;
	}

	.hero__discount-text {
		margin-bottom: 30px;
	}
}

/* Travel Suitcases */

.suitcases__slider {
	display: flex;
	overflow: hidden;
	gap: 40px;
	padding: 30px 20px;
	transition: transform 0.9s ease;
}

.suitcase-card {
	position: relative;
	min-width: 280px;
	cursor: pointer;
	transition: all 0.5s ease, box-shadow 0.3s ease;
	transform-origin: center center;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0px 3px 15px -4px #000000;
		z-index: 5;
	}
}
.suitcase-card__media {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.suitcase-card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.suitcase-card__overlay {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 24px;
	background: rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;

	&:hover {
		background: rgba(0, 0, 0, 0.4);
	}
}

.suitcase-card__headline {
	margin: 0 0 8px;
	font-weight: 700;
	font-size: 19px;
	color: $color-white;
}
.suitcase-card__text {
	font-size: 15px;
	color: #e8eaf1;
}

/* Selected Products */

.selected-products__grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
	justify-items: center;
}

/* Banner */

.banner {
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
			url(../assets/images/banner-image.png) no-repeat center / cover;
		height: 407px;
		padding: 30px 100px;
	}

	&__left {
		flex: 1;
		color: $color-white;
		text-align: center;
	}

	&__discount {
		font-size: 223px;
		line-height: 1;
	}

	&__description {
		font-size: 20px;
	}

	&__right {
		flex: 1;
		color: $color-white;
	}

	&__right-inner {
		padding-left: 126px;
	}

	&__title {
		font-size: 40px;
		margin-bottom: 30px;
	}

	&__details {
		margin-bottom: 30px;
		line-height: 1.7;
	}
}

.new-products {
	padding-bottom: 120px;
}

/* Testimonials */

.testimonials {
	&__wrapper {
		@include flex-center;
		gap: 20px;
		height: 100%;
	}

	&__card {
		@include flex-center;
		flex-direction: column;
		padding: 30px;
		max-width: 420px;
		width: 100%;
		height: 336px;
		text-align: center;
		background: #ffffff;
		filter: drop-shadow(0px 20px 80px rgba(193, 199, 212, 0.702));
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__image {
		display: block;
		margin: 0 auto 24px;
	}

	&__text {
		margin-bottom: 25px;
	}

	&__info {
		color: $color-accent;
		font-weight: 700;
	}
}

/* Модальне вікно */
.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
	width: 480px;
	max-width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal .form-label {
	font-weight: 400;
	font-size: 14px;
}

.password-wrapper {
	position: relative;
}

.password-toggle {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.form-info {
	display: flex;
	justify-content: space-between;
}

.login-button {
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
}

.login-title {
	text-align: center;
	margin-bottom: 30px;
}

.forgot-password-link {
	color: $color-accent;
	font-size: 12px;
	font-weight: 700;
}

.custom-checkbox {
	display: none;
}

.checkbox-label {
	position: relative;
	padding-left: 22px;
	cursor: pointer;
	font-size: 12px;
	color: $color-light-grey;
	display: inline-block;
}

.checkbox-label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border: 2px solid $color-light-grey;
	opacity: 0.5;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox:checked + .checkbox-label:before {
	background-color: $color-primary;
	border-color: $color-primary;
}

.custom-checkbox:checked + .checkbox-label:after {
	content: '\2713';
	position: absolute;
	left: 4px;
	top: 0;
	font-size: 12px;
	color: #fff;
}

@media screen and (max-width: 1440px) {
	.hero__top {
		min-height: 761px;
	}
	.selected-products__grid {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}

	.hero__bottom-left-inner {
		padding: 40px;
	}
	.banner__container {
		padding: 30px;
	}

	.footer__contacts-inner {
		gap: 50px;
	}
	.footer__contact-rows {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}

	.footer__contact-row:first-child {
		grid-template-columns: 28px auto;
		row-gap: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.header__wrapper {
		padding: 30px 16px 0;
	}
	.header__top {
		padding-bottom: 30px;
	}

	.nav__list {
		padding: 15px 0;
	}

	.hero__top-content {
		padding-top: 60px;
	}
	.hero__bottom-title {
		font-size: 32px;
	}

	.hero__discount-box {
		padding-left: 43px;
	}

	.banner__right-inner {
		padding-left: 76px;
	}

	.banner__discount {
		font-size: 150px;
	}
}
